{% extends 'base.html' %}

{% load static %}

{% block title %}About Us - CyberLoch Tech{% endblock %}

{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'css/about.css' %}"> 
</head>

<!-- About Us Section -->
<section class="about py-5">
    <h1 class="text-center mb-5"> Cyberlock Technologies</h1>

    <p class="lead text-center"> Innovative Solutions for Your Digital Success </p>

    <h2 class="text-center mb-4">About Us</h2>
    <p class="lead text-center">Cyberlock Tech is a leading provider of digital solutions, specializing in custom software, cloud computing, and more.</p>
    <p class="text-center">Our mission is to help businesses grow through innovative technology. Our team of experts has decades of experience in delivering world-class solutions to clients across various industries.</p>
</section>
{% endblock %}
