
{% extends 'base.html' %}

{% load static %}

{% block content %}

<head>
    <meta charset="utf-8">
    <title>Job Application</title>
    <link rel="stylesheet" href="{% static 'css/apply_job.css' %}">

</head>

<body>
    <h1>Job Application</h1>
    {% if messages %}
        {% for message in messages %}
            <div>{{ message }}</div>
        {% endfor %}
    {% endif %}
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit Application</button>
    </form>
</body>

{% endblock %}
