
{% extends 'base.html' %}

{% load static %}


{% block title %}{{ post.title }} - CyberLock Tech{% endblock %}

{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'css/blog_list_detail.css' %}">
</head>

<!-- Blog Post Detail Section -->
<section class="blog-detail py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h2 class="text-center mb-4">{{ post.title }}</h2>
                
                <!-- Blog Content with Image on Left and Text on Right -->
                <div class="blog-content-wrapper">
                    <!-- Image on Left -->
                    <div class="blog-image">
                        {% if post.image %}
                            <img src="{{ post.image.url }}" class="img-fluid rounded shadow" alt="{{ post.title }}">
                        {% else %}
                            <img src="{% static 'images/default.jpg' %}" class="img-fluid rounded shadow" alt="Default Image">
                        {% endif %}
                    </div>

                    <!-- Text Content on Right -->
                    <div class="blog-text">
                        {% for paragraph in post.content.splitlines %}
                            {% if paragraph.strip %}
                                <p class="mb-3">{{ paragraph }}</p>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                
                <!-- Back Button -->
                <div class="text-center mt-5">
                    <a href="{% url 'blog_list' %}" class="btn btn-secondary btn-lg">Back to Blog</a>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}
