
{% extends 'base.html' %}

{% load static %}




{% block title %}Careers - CyberLock Tech {% endblock %}

{% block content %}


<section class="careers py-5">
    <h2 class="text-center mb-4">Join Our Team</h2>
    <div class="row">
        {% for job in jobs %}
            <div class="col-md-6 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ job.title }}</h5>
                        <p class="card-text">{{ job.description|truncatewords:50 }}</p>
                        <p><strong>Requirements:</strong> {{ job.requirements }}</p>
                        <p><strong>Salary:</strong> {{ job.salary }}</p>
                        <p><strong>Location:</strong> {{ job.location }}</p>
                        <p><strong>Published Date:</strong>{{job.pulished_date}}</p>
                        <p><strong>Active: </strong>{{ job.is_open}}</p>
                        <a href="{% url 'apply_job' %}" class="btn btn-primary">Apply Now</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</section>
{% endblock %}
