{% extends 'base.html' %}

{% load static %}

{% block title %}{{ project.title }} - CyberLock Tech{% endblock %}

{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'css/project_details.css' %}">
</head>

<!-- Project Detail Section -->
<section class="project-detail py-5">
    <div class="container">
        <div class="row">
            <!-- Project Image Column -->
            <div class="col-md-6">
                <h2 class="project-title">{{ project.title }}</h2>
                
                <img src="{{ project.project_image.url }}" class="img-fluid project-image" alt="{{ project.title }}">
            </div>
            <!-- Project Information Column -->
            <div class="col-md-6">
            
                <p class="project-description">{{ project.description|safe }}</p>
                <ul class="project-info">
                    <li><strong>Technologies Used:</strong> {{ project.technologies_used }}</li>
                    <li><strong>Project URL:</strong> <a href="{{ project.link }}" target="_blank">{{ project.link }}</a></li>
                    <li><strong>Client:</strong> {{ project.client }}</li>
                    <li><strong>Date:</strong> {{ project.completion_date }}</li>
                </ul>
            </div>
        </div>

        <!-- Project Details Section -->
        <div class="row mt-4">
            <div class="col-12">
                <h4 class="project-details-title">Project Details</h4>
                <p class="project-details-description">{{ project.full_description }}</p>
            </div>
        </div>

        <!-- Back Button Section -->
        <div class="text-center mt-4">
            <a href="{% url 'portfolio' %}" class="btn btn-back">Back to Portfolio</a>
        </div>
    </div> <!-- End of container -->
</section>

{% endblock %}
