{% extends 'base.html' %}


{% block content %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title>
</head>
<body>

<h1>All Services</h1>
<ul>
    {% for service in services %}
        <li>
            <a href="{% url 'service_detail' service.id %}">
                <strong>{{ service.name }}</strong>
            </a>: {{ service.description }} - ${{ service.price }}
        </li>
    {% empty %}
        <li>No services available.</li>
    {% endfor %}
</ul>

<h2>Custom Services</h2>
<ul>
    {% for service in custom_services %}
        <li>
            <a href="{% url 'service_detail' service.id %}">
                <strong>{{ service.name }}</strong>
            </a>: {{ service.description }} - ${{ service.price }}
        </li>
    {% empty %}
        <li>No custom services available.</li>
    {% endfor %}
</ul>

<h2>Cloud Services</h2>
<ul>
    {% for service in cloud_services %}
        <li>
            <a href="{% url 'service_detail' service.id %}">
                <strong>{{ service.name }}</strong>
            </a>: {{ service.description }} - ${{ service.price }}
        </li>
    {% empty %}
        <li>No cloud services available.</li>
    {% endfor %}
</ul>

</body>
{% endblock %}
