{% extends 'base.html' %}

{% load static %}

{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'css/service_list.css' %}">
    <script src="{% static 'js/service_typed.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
</head>

<div class="container my-5">
    <h1 class="text-center mb-5 font-weight-bold text-primary display-4">Our Services</h1>

    <!-- Display Filter Type -->
    <h2 class="text-center mb-4 text-muted">
        {% if service_type == 'custom' %}
            Custom Services
        {% elif service_type == 'cloud' %}
            Cloud Services
        {% elif service_type == 'standard' %}
            Standard Services
        {% else %}
            All Services
        {% endif %}
    </h2>

    <div class="row">
        {% for service in services %}
            <div class="col-md-4 col-sm-6 mb-4">
                <div class="card custom-card shadow-lg border-light rounded">
                    {% if service.service_image %}
                        <img src="{{ service.service_image.url }}" class="card-img-top rounded-top" alt="{{ service.name }}">
                    {% else %}
                        <div class="card-img-top bg-secondary text-white text-center py-5">
                            <span>No Image Available</span>
                        </div>
                    {% endif %}
                    <div class="card-body text-center">
                        <h5 class="card-title font-weight-bold text-dark">{{ service.name }}</h5>
                        <p class="card-text text-muted">{{ service.description|safe|truncatewords:20 }}</p>
                        <p class="card-text text-primary font-weight-bold">${{ service.price }}</p>
                        <a href="{% url 'service_detail' service.id %}" class="btn btn-outline-primary btn-lg">View Details</a>
                    </div>
                </div>
            </div>
        {% empty %}
            <p class="text-center col-12 text-muted">No services available in this category.</p>
        {% endfor %}
    </div>
</div>

{% endblock %}
