{% extends 'base.html' %}

{% block content %}
    <h1>All Services</h1>

    <!-- Display Filter Type -->
    <h2>
        {% if service_type == 'custom' %}
            Custom Services
        {% elif service_type == 'cloud' %}
            Cloud Services
        {% elif service_type == 'standard' %}
            Standard Services
        {% else %}
            All Services
        {% endif %}
    </h2>

    <ul>
        {% for service in services %}
            <li>
                <a href="{% url 'service_detail' service.id %}">
                    <strong>{{ service.name }}</strong>
                </a>: {{ service.description }} - ${{ service.price }}
            </li>
        {% empty %}
            <li>No services available in this category.</li>
        {% endfor %}
    </ul>
{% endblock %}
