body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.form-group.remember-me {
    display: inline-block;
    display: flex;
    align-items: center; /* Vertically aligns the checkbox and label text */
}

.form-group.remember-me input[type="checkbox"] {
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px; /* Adds some space between the checkbox and label text */
}



.login-button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-button:hover {
    background-color: #218838;
}

.extra-links {
    text-align: center;
    margin-top: 15px;
}

.extra-links a {
    color: #007bff;
    text-decoration: none;
}

.extra-links a:hover {
    text-decoration: underline;
}

.messages {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    background-color: #f8d7da;
    color: #721c24;
}
